body {
    font-family: 'Montserrat', sans-serif;
    background-color: #333;
}

.navbar {
    height: 56px;
    background-color: #444;
    padding: 0 40px;
}

.navbar li {
    float: left;
    margin-top: 19px;
}

.navbar li:first-child {
    margin-top: 4px;
}

.navbar li:last-child {
    float: right;
}

.navbar li:nth-child(2) {
    margin: 19px 40px;
}

.navbar li:nth-child(2) a {
    background-color: burlywood;
    padding: 10px;
    border-radius: 40px;
    color: firebrick;
    font-weight: bold;
    box-shadow: 0 0 5px 2px #111;
}

.navbar li:nth-child(3) {
    margin: 19px 40px;
}

.navbar li [class^="fab"] {
    margin: 3px;
}

.navbar a {
    color: chocolate;
    text-decoration: none;
}

.navbar a:hover {
    color: aliceblue;
}

@keyframes flash {
    from {
        opacity: 0
    }

    to {
        opacity: 1;
    }
}

.navbar .fa-mobile-alt {
    animation: flash 1s 3;
    margin: 0 5px;
}